@import '../../../sass/mixins.scss';

:host{
  @include pageHostClass;
}

.big_blue{
  @include big_blue_div;
}

.small_green{
  @include small_green_div;
  top:48.28vh;
  font-size: 2.06vh;
  line-height: 2.58vh;
}

.vibe_imge{
  position: absolute;
  top:27.83vh;
  height: 8.13vh;
}
