<app-logo></app-logo>

<div class="elementHostClass">
<img class="vibe_imge" src="../../../../assets/hope_we_halped.vibe.png">
</div>
<app-vibe></app-vibe>

<div class="big_blue">
<span>מקווים שהצלחנו</span>
<span>לעזור..</span>
</div>

<div class="small_green">
  <span>
    עם הזמן ובעזרתכם נוכל כל שנה להגדיל
  </span>
  <span>
    את מאגר המידע וכך גם להגדיל
  </span>
  <span>
    את היכולת לעזור, לכם, שזה בעצם אנחנו
  </span>
</div>


<app-green-button style="top:67vh" is_wide title="חזרה לדף הבית" is_router_link  link_to="./home" ></app-green-button>

