<app-back-button back_to="/home"></app-back-button>

<div class="elementHostClass" style="top: 3.8vh; z-index: -1;">
  <img src="../../../../assets/one_accessori.png"  class="accessori" style="bottom:6vh;">
</div>

<div class="vertical_center">

  <div class="big_blue">
    אז מה בעצם קורה כאן ?
    <span>
    בואו תזרמו איתנו רגע בדמיון מודרך:
    </span>
    <br>
    <span>
    חודש יוני, חם, אתם רואים דירה והראש
    </span>
    <span>
    שלכם כבר בלחץ של התקופת מבחנים
    </span>
    <span>
    (או בלהספיק את הרכבת חזור)
    </span>
    <span>
    ואתם שואלים את מי שמראה את הדירה
    </span>
    <span>
    "ומה חוץ מזה יש איזשהן בעיות שצריך לדעת?"
    </span>
    <span>
    והוא / היא עונה לכם בפרצוף הכי לא אמין
    </span>
    <span>
    “לא, לא זכור לי, מידי פעם שומעים
    </span>
    <span>
    את השכנה עושה כביסה אבל זהו”
    </span>
    <span>
    (כי זה שאלה מלחיצה, אם יש או אין בעיה בדירה)
    </span>
    <span>
    ועם הלחץ והחום אתם פשוט לוקחים
    </span>
    <span>
    את הסיכון, מה תתחילו לחפש את הדיירים
    </span>
    <span>
    מלפני שנתיים? או תשבו יום שלם מתחת
    </span>
    <span>
    לדירה לראות מה מתרחש?!&nbsp;	גם אם לא
    </span>
    <span>
    וגם אם כן - זה עדיין קאדר..
    </span>
    <br>
    <span>
    אז מה קורה כאן?
    </span>
    <span>
    כולנו פותרים את זה רגע ביחד :)
    </span>
    <span>
    איך?
    </span>
    <span>
    משקיעים דקה לשתף את חוויית המגורים
    </span>
    <span>
    שלנו בשנה האחרונה, ועוד דקה לדירה של
    </span>
    <span>
    לפני שנתיים.
    </span>
    <br>
    <span>
    ואז כשאנחנו נהיה בסיטואציה הזאת פעם
    </span>
    <span>
    הבאה פשוט נכנס ונקרא מה אחרים כתבו.
    </span>
  </div>
</div>
<div class="elementHostClass" style="bottom: 3.7vh; z-index: -1;">
  <img src="../../../../assets/one_accessori.png"  class="accessori" style="bottom:6vh;">
</div>





