@import '../../../sass/mixins.scss';

:host{
  @include pageHostClass;
}

.big_blue{
  @include big_blue_div;
  top: 55.6vh;
  font-size: 2.59vh ;
  font-weight: 600;
  line-height: 3.45vh;
}

.small_green{
  @include small_green_div;
  top:40.52vh;
  line-height: 2.46vh;
}

.vibe_img_div{
  top:33.07vh;
}

.vibe_img{
  height: 5.48vh;
}

app-vibe{
top:38.85vh!important;
}

.only{
  @include stadard_text();
  @include stadard_div();
  position: absolute;
  top:82.14vh;
  text-align: center;

  font-weight: 500;
  font-size: 2.06vh;
  line-height:2.59vh ;
  color:#B26868;
}
