
<app-logo></app-logo>

<div class="elementHostClass top329">
<img src ="../../../../assets/wrong_mail.vibe.png" >
</div>


<app-vibe></app-vibe>


<div class="small_green">
  <span>
    כניסה לבעלי מייל
  </span>
  <span>
    post.bgu.ac.il
  </span>
  <span>
    בלבד
  </span>
</div>

<div class="big_blue">
  <span>
  כן בעלי מייל אוניברסטאי?
  </span>
  <span>
  אנא וודאו שאתם מתחברים
  </span>
  <span>
  דרכו ולא דרך חשבון אחר
  </span>
  <span>

  </span>
</div>


<app-login-goggle></app-login-goggle>

