
<app-logo></app-logo>

<div class="elementHostClass vibe_img_div">
<img src ="../../../../assets/wrong_mail.vibe.png" class="vibe_img">
</div>


<app-vibe></app-vibe>


<div class="small_green">
  <span>
    כניסה לבעלי מייל
  </span>
  <span>
    post.bgu.ac.il
  </span>
  <span>
    בלבד
  </span>
</div>

<div class="big_blue">
  <span>
  כן בעלי מייל אוניברסטאי?
  </span>
  <span>
  אנא וודאו שאתם מתחברים
  </span>
  <span>
  דרכו ולא דרך חשבון אחר
  </span>
  <span>
  </span>
</div>

<div class="only">
  <span>
* לטובת אמינות המידע, הסתמכנו
  </span>
  <span>
 על התמיכה ההדדית בין הסטודנטים
  </span>
  <span>
עקב זאת החלטנו להגביל את היכולת
  </span>
  <span>
לקרוא ולכתוב תגובות אך ורק
  </span>
  <span>
לחברי האונברסיטה, מבקשים את
  </span>
  <span>
הבנתכם
  </span>

</div>
<app-green-button is_google></app-green-button>

