@import '../../../sass/mixins.scss';

:host{
  @include elementHostClass;
  position: absolute;
  top:66.5vh;
}

img.google_login{
  max-width: 100%;
  min-width: 100%;
  position: absolute;

}

a.google_login{
  width: 100%;
  padding-top: 18%;
  margin-top:3%;
  z-index: 1;
}
