<app-logo></app-logo>

<div class="elementHostClass top274">
  <img src="../../../../assets/home.vibe.png">
</div>

<app-vibe class="top3583"></app-vibe>

<div class="big_blue">
  <span>
    סטודנטים
  </span>
  <span>
    שמחים שהגעתם
  </span>
</div>

<div class="small_green">
  יאללה בואו נתחיל
</div>


<div class="elementHostClass" style="height:14vh; top:53.7vh; overflow: hidden;" >
<app-green-button is_wide is_router_link link_to="/post_search" title="חיפוש מידע על הדירה" style="z-index:2;"></app-green-button>
</div>

<app-green-button is_wide is_router_link link_to="/give" title="שיתוף בחווית מגורים"  style="top:66vh;"></app-green-button>

 <a class="wait" routerLink="/what_is_up">רגע, לאן הגעתי?</a>
