<app-logo></app-logo>

<div class="elementHostClass top274">
  <img src="../../../../assets/home.vibe.png">
</div>

<app-vibe class="top3583"></app-vibe>

<div class="big_blue">
  <span>
    סטודנטים
  </span>
  <span>
    שמחים שהגעתם
  </span>
</div>

<div class="small_green">
  יאללה בואו נתחיל
</div>


<app-green-button is_router_link=1 link_to="/router" style="top:53.7vh; z-index:2; max-height:115px; overflow: hidden;" title="חיפוש מידע על הדירה"></app-green-button>

<app-green-button is_router_link=1 link_to="/home" style="top:66vh;" title="שיתוף בחווית מגורים" ></app-green-button>

 <a class="wait" routerLink="/what_is_up">רגע, לאן הגעתי?</a>
